* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  background-color: #0d1926;
  color: #f7fafc;
  font-size: clamp(0.5rem, 1.3rem, 1.5rem);
}

h1 {
  color: #8cb0d9;
  font-size: clamp(0.2rem, 3rem, 3.1rem);
  margin: 0;
  padding-top: 2rem;
  font-family: "Changa", sans-serif;
  line-height: 1;
}

h1 p {
  font-size: clamp(0.2rem, 3rem, 3.1rem);
}

h2,
h3 {
  font-family: "Kanit", sans-serif;
}

h2 {
  color: #8cb0d9;
  font-size: 4.8rem;
  font-weight: normal;
  margin: 0;
}

h3 {
  color: #8cb0d9;
  font-size: 2.4rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
  padding-top: 1rem;
}

a {
  color: inherit;
}

h3 {
  font-size: clamp(0.2rem, 1.8rem, 2.4rem);
}

h2 {
  font-size: clamp(0.5rem, 3.2rem, 4.8rem);
}

p {
  font-size: clamp(0.5rem, 1.2rem, 1.2rem);
}

.container {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile-pic {
  width: 22vh;
  height: auto;
}

.skills {
  padding: 3rem 0;
  background-color: #0d1926;
  color: #f7fafc;
}

.skill-row {
  width: 90%;
  margin: 40px auto;
  text-align: justify;
  line-height: 2;
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.skill-img {
  max-width: 20%;
  align-self: center;
  display: flex;
  flex-grow: 0;
  margin: 0 auto;
}

.skill-text {
  max-width: 80%;
  flex-shrink: 0;
  margin: auto;
}

#skill2 {
  flex-direction: row-reverse;
}

.bottom-container {
  padding-bottom: 20px;
  padding-top: 30px;
}

.bottom-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-container p {
  align-items: center;
  padding: 0;
}

.bottom-container a,
a ~ span {
  color: #fc4f4f;
  text-decoration: none;
}

.contact-me {
  background-color: #1a324c;
  padding: 3rem 0;
  padding-bottom: 80px;
}

.contact-me p {
  margin-bottom: 2rem;
  line-height: 2;
}

.btn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  color: #ffffff;
  font-size: 20px;
  background: #fc4f4f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5a3926;
  text-decoration: none;
}

#img-credit {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 12px;
  gap: 4px;
}

@media (max-width: 629px) {
  .skill-img {
    display: none;
  }

  h1 {
    padding: auto;
  }

  .footer-social {
    flex-direction: column;
  }
}

.portfolio {
  background-color: #1a324c;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: clamp(0.5rem, 0.6rem, 1.5rem); */
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.intro p {
  text-align: justify;
  font-size: clamp(0.1rem, 1.3rem, 2.2rem);
  width: 90%;
  line-height: 2;
}

.project-links {
  padding-top: 0.3em;
  margin-top: auto;
  text-align: center;
}

.project-links a {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #fc4f4f;
}
